# Importing necessary Libraries

In [3]:
import numpy as np
import pandas as pd 
import seaborn as sn
import matplotlib.pyplot as plt

The first thing we'll need to do is load in the libraries and datasets we'll be using. For today, I'll be using a dataset of events that occured in American Football games for demonstration

In [38]:
# Loading Dataset
original_df = pd.read_csv("NFL_Play .csv", encoding='utf-8')

C:\Users\chotu\AppData\Local\Temp\ipykernel_58432\671508341.py:2: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  original_df = pd.read_csv("NFL_Play .csv", encoding='utf-8')
C:\Users\chotu\AppData\Local\Temp\ipykernel_58432\671508341.py:3: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  practice_df=pd.read_csv("NFL_Play .csv", encoding='utf-8')

In [39]:
original_df.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [42]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362447 entries, 0 to 362446
Columns: 102 entries, Date to Season
dtypes: float64(33), int64(31), object(38)
memory usage: 282.1+ MB

In [44]:
original_df.describe()

,GameID,Drive,qtr,down,TimeUnder,TimeSecs,PlayTimeDiff,yrdln,yrdline100,ydstogo,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
count,3.624470e+05,362447.000000,362447.000000,308229.000000,362447.000000,362259.000000,362073.000000,361724.000000,361724.000000,362447.000000,...,141713.000000,340504.000000,340504.000000,339087.000000,339087.000000,340454.000000,357630.000000,141709.000000,141491.000000,362447.000000
mean,2.012664e+09,12.347088,2.578231,2.001226,7.386076,1695.234346,20.574649,28.413542,48.616807,7.305236,...,-0.386522,0.533889,0.466561,0.534217,0.466185,0.501311,0.002163,0.015209,-0.010492,2012.522071
std,2.292258e+06,7.168173,1.130259,1.006003,4.642132,1063.065717,18.030486,13.002355,25.161965,4.863445,...,1.972964,0.286415,0.286468,0.288647,0.288694,0.288207,0.045326,0.056422,0.067972,2.290084
min,2.009091e+09,1.000000,1.000000,1.000000,0.000000,-900.000000,0.000000,1.000000,1.000000,0.000000,...,-14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.997214,-0.999881,-0.986673,2009.000000
25%,2.011091e+09,6.000000,2.000000,1.000000,3.000000,778.000000,5.000000,20.000000,30.000000,3.000000,...,-0.964562,0.323129,0.230595,0.319464,0.226867,0.274964,-0.014589,-0.011355,-0.018623,2011.000000
50%,2.013091e+09,12.000000,3.000000,2.000000,7.000000,1800.000000,17.000000,30.000000,49.000000,9.000000,...,0.000000,0.531286,0.469040,0.533689,0.466617,0.504349,0.000000,0.003557,0.000000,2013.000000
75%,2.015091e+09,18.000000,4.000000,3.000000,11.000000,2585.000000,37.000000,39.000000,70.000000,10.000000,...,0.484913,0.770011,0.677566,0.773729,0.681018,0.726995,0.014800,0.035702,0.011371,2015.000000
max,2.017010e+09,35.000000,5.000000,4.000000,15.000000,3600.000000,943.000000,50.000000,99.000000,50.000000,...,9.559834,1.000000,1.000000,1.000000,1.000000,1.000000,0.994848,0.994848,1.000000,2016.000000

In [46]:
# Display initial missing value count
print("Initial Missing Values:\n", original_df.isnull().sum())

Initial Missing Values:
 Date             0
GameID           0
Drive            0
qtr              0
down         54218
             ...
Win_Prob     21993
WPA           4817
airWPA      220738
yacWPA      220956
Season           0
Length: 102, dtype: int64

In [48]:
# how many total missing values do we have?
missing_values_count = original_df.isnull().sum()

total_cells = np.product(original_df.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
(total_missing/total_cells) * 100

27.652267428200588

27.6522 almost one fourth of data missing that can cause problems if delete rows and columns associated with that lets see

In [67]:
# Strategy 1: Drop columns with excessive missing values (threshold: 50% missing)
thresh = len(practice_df) * 0.5
df_1 = original_df.dropna(thresh=thresh, axis=1)
print("\nColumns dropped due to excessive missing values")

Columns dropped due to excessive missing values

In [69]:
print("total number of columns before dropping : ", original_df.shape[1])
print("total number of columns after dropping : ", df_1.shape[1])

total number of columns before dropping :  102
total number of columns after dropping :  69

In [79]:
# Strategy 2: Drop rows with atleast one  missing values 
df_2 = original_df.dropna(axis=0)
print("\nrows dropped due to excessive missing values")

rows dropped due to excessive missing values

In [83]:
print("dimensions before dropping : ", original_df.shape)
print("dimensions after dropping : ", df_2.shape)
print("total number of rows before dropping : ", original_df.shape[0])
print("total number of rows after dropping : ", df_2.shape[0])

dimensions before dropping :  (362447, 102)
dimensions after dropping :  (0, 102)
total number of rows before dropping :  362447
total number of rows after dropping :  0

In [81]:
df_2.head()

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

Oh dear, it looks like that's removed all our data! ðŸ˜± This is because every row in our dataset had at least one missing value.

# Filling in missing values automatically

We can use the Panda's fillna() function to fill in missing values in a dataframe for us. One option we have is to specify what we want the NaN values to be replaced with. Here, I'm saying that I would like to replace all the NaN values with 0.

In [87]:
# replace all NA's with 0
df_3 =original_df.fillna(0)
df_3

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,0.0,15:00,15,3600.0,0.0,TEN,...,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362442,2017-01-01,2017010102,20,4,1.0,00:22,1,22.0,6.0,GB,...,0.000000,0.051901,0.948099,0.093435,0.906565,0.051901,0.041534,0.041534,0.000000,2016
362443,2017-01-01,2017010102,20,4,0.0,00:13,1,13.0,9.0,GB,...,0.000000,0.093435,0.906565,0.034069,0.965931,0.093435,-0.059366,0.000000,0.000000,2016
362444,2017-01-01,2017010102,21,4,0.0,00:13,1,13.0,0.0,DET,...,0.000000,0.034069,0.965931,0.035708,0.964292,0.965931,-0.001639,0.000000,0.000000,2016
362445,2017-01-01,2017010102,21,4,1.0,00:12,1,12.0,1.0,DET,...,0.000000,0.035708,0.964292,0.000000,1.000000,0.964292,0.035708,0.000000,0.000000,2016
362446,2017-01-01,2017010102,21,4,0.0,00:00,0,0.0,12.0,DET,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.934245,0.000000,0.000000,0.000000,2016

In [89]:
# Strategy 3: Fill missing numerical values with median values
from sklearn.impute import SimpleImputer
df_4=original_df
num_cols = df_4.select_dtypes(include=['number']).columns
imputer = SimpleImputer(strategy='median')
df_4[num_cols] = imputer.fit_transform(df_4[num_cols])
print("\nNumerical missing values filled with median")

Numerical missing values filled with median

In [91]:
df_4.describe()

,GameID,Drive,qtr,down,TimeUnder,TimeSecs,PlayTimeDiff,yrdln,yrdline100,ydstogo,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
count,3.624470e+05,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,...,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000
mean,2.012664e+09,12.347088,2.578231,2.001043,7.386076,1695.288688,20.570961,28.416706,48.617572,7.305236,...,-0.151126,0.533731,0.466711,0.534183,0.466213,0.501495,0.002135,0.008112,-0.004096,2012.522071
std,2.292258e+06,7.168173,1.130259,0.927713,4.642132,1062.792653,18.021546,12.989573,25.136862,4.863445,...,1.248010,0.277611,0.277662,0.279190,0.279236,0.279327,0.045025,0.035735,0.042776,2.290084
min,2.009091e+09,1.000000,1.000000,1.000000,0.000000,-900.000000,0.000000,1.000000,1.000000,0.000000,...,-14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.997214,-0.999881,-0.986673,2009.000000
25%,2.011091e+09,6.000000,2.000000,1.000000,3.000000,778.000000,5.000000,20.000000,30.000000,3.000000,...,0.000000,0.345457,0.250577,0.343793,0.248315,0.291656,-0.014297,0.003557,0.000000,2011.000000
50%,2.013091e+09,12.000000,3.000000,2.000000,7.000000,1800.000000,17.000000,30.000000,49.000000,9.000000,...,0.000000,0.531286,0.469040,0.533689,0.466617,0.504349,0.000000,0.003557,0.000000,2013.000000
75%,2.015091e+09,18.000000,4.000000,3.000000,11.000000,2584.000000,37.000000,39.000000,70.000000,10.000000,...,0.000000,0.749989,0.655159,0.752119,0.656821,0.708961,0.014381,0.003557,0.000000,2015.000000
max,2.017010e+09,35.000000,5.000000,4.000000,15.000000,3600.000000,943.000000,50.000000,99.000000,50.000000,...,9.559834,1.000000,1.000000,1.000000,1.000000,1.000000,0.994848,0.994848,1.000000,2016.000000

In [93]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362447 entries, 0 to 362446
Columns: 102 entries, Date to Season
dtypes: float64(64), object(38)
memory usage: 282.1+ MB

In [95]:
# Strategy 4: Fill missing categorical values with mode
df_5=original_df
cat_cols = df_5.select_dtypes(include=['object']).columns
for col in cat_cols:
    df_5[col].fillna(df_5[col].mode()[0], inplace=True)
print("\nCategorical missing values filled with mode")

C:\Users\chotu\AppData\Local\Temp\ipykernel_58432\2593773681.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_5[col].fillna(df_5[col].mode()[0], inplace=True)

Categorical missing values filled with mode

In [97]:
df_5.describe()

,GameID,Drive,qtr,down,TimeUnder,TimeSecs,PlayTimeDiff,yrdln,yrdline100,ydstogo,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
count,3.624470e+05,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,...,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000
mean,2.012664e+09,12.347088,2.578231,2.001043,7.386076,1695.288688,20.570961,28.416706,48.617572,7.305236,...,-0.151126,0.533731,0.466711,0.534183,0.466213,0.501495,0.002135,0.008112,-0.004096,2012.522071
std,2.292258e+06,7.168173,1.130259,0.927713,4.642132,1062.792653,18.021546,12.989573,25.136862,4.863445,...,1.248010,0.277611,0.277662,0.279190,0.279236,0.279327,0.045025,0.035735,0.042776,2.290084
min,2.009091e+09,1.000000,1.000000,1.000000,0.000000,-900.000000,0.000000,1.000000,1.000000,0.000000,...,-14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.997214,-0.999881,-0.986673,2009.000000
25%,2.011091e+09,6.000000,2.000000,1.000000,3.000000,778.000000,5.000000,20.000000,30.000000,3.000000,...,0.000000,0.345457,0.250577,0.343793,0.248315,0.291656,-0.014297,0.003557,0.000000,2011.000000
50%,2.013091e+09,12.000000,3.000000,2.000000,7.000000,1800.000000,17.000000,30.000000,49.000000,9.000000,...,0.000000,0.531286,0.469040,0.533689,0.466617,0.504349,0.000000,0.003557,0.000000,2013.000000
75%,2.015091e+09,18.000000,4.000000,3.000000,11.000000,2584.000000,37.000000,39.000000,70.000000,10.000000,...,0.000000,0.749989,0.655159,0.752119,0.656821,0.708961,0.014381,0.003557,0.000000,2015.000000
max,2.017010e+09,35.000000,5.000000,4.000000,15.000000,3600.000000,943.000000,50.000000,99.000000,50.000000,...,9.559834,1.000000,1.000000,1.000000,1.000000,1.000000,0.994848,0.994848,1.000000,2016.000000

In [99]:
# Strategy 5: Fill missing numerical values with mean
df_6=original_df
imputer_mean = SimpleImputer(strategy='mean')
df_6[num_cols] = imputer_mean.fit_transform(df_6[num_cols])
print("\nNumerical missing values filled with mean")

Numerical missing values filled with mean

In [101]:
df_6.describe()

,GameID,Drive,qtr,down,TimeUnder,TimeSecs,PlayTimeDiff,yrdln,yrdline100,ydstogo,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
count,3.624470e+05,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,...,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000,362447.000000
mean,2.012664e+09,12.347088,2.578231,2.001043,7.386076,1695.288688,20.570961,28.416706,48.617572,7.305236,...,-0.151126,0.533731,0.466711,0.534183,0.466213,0.501495,0.002135,0.008112,-0.004096,2012.522071
std,2.292258e+06,7.168173,1.130259,0.927713,4.642132,1062.792653,18.021546,12.989573,25.136862,4.863445,...,1.248010,0.277611,0.277662,0.279190,0.279236,0.279327,0.045025,0.035735,0.042776,2.290084
min,2.009091e+09,1.000000,1.000000,1.000000,0.000000,-900.000000,0.000000,1.000000,1.000000,0.000000,...,-14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.997214,-0.999881,-0.986673,2009.000000
25%,2.011091e+09,6.000000,2.000000,1.000000,3.000000,778.000000,5.000000,20.000000,30.000000,3.000000,...,0.000000,0.345457,0.250577,0.343793,0.248315,0.291656,-0.014297,0.003557,0.000000,2011.000000
50%,2.013091e+09,12.000000,3.000000,2.000000,7.000000,1800.000000,17.000000,30.000000,49.000000,9.000000,...,0.000000,0.531286,0.469040,0.533689,0.466617,0.504349,0.000000,0.003557,0.000000,2013.000000
75%,2.015091e+09,18.000000,4.000000,3.000000,11.000000,2584.000000,37.000000,39.000000,70.000000,10.000000,...,0.000000,0.749989,0.655159,0.752119,0.656821,0.708961,0.014381,0.003557,0.000000,2015.000000
max,2.017010e+09,35.000000,5.000000,4.000000,15.000000,3600.000000,943.000000,50.000000,99.000000,50.000000,...,9.559834,1.000000,1.000000,1.000000,1.000000,1.000000,0.994848,0.994848,1.000000,2016.000000

In [105]:
# Final missing value check
print("\nFinal Missing Values in original dataframe:\n", original_df.isnull().sum().sum())
print("\nFinal Missing Values after dropping columns:\n", df_1.isnull().sum().sum())
print("\nFinal Missing Values after dropping rows:\n", df_2.isnull().sum().sum())
print("\nFinal Missing Values after filling missing values with 0:\n", df_3.isnull().sum().sum())
print("\nFinal Missing Values after filling missing values with median:\n", df_4.isnull().sum().sum())
print("\nFinal Missing Values after filling missing values with mode :\n", df_5.isnull().sum().sum())
print("\nFinal Missing Values after filling missing values with mean:\n", df_6.isnull().sum().sum())

Final Missing Values in original dataframe:
 0

Final Missing Values after dropping columns:
 486270

Final Missing Values after dropping rows:
 0

Final Missing Values after filling missing values with 0:
 0

Final Missing Values after filling missing values with median:
 0

Final Missing Values after filling missing values with mode :
 0

Final Missing Values after filling missing values with mean:
 0